<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="cache-control" content="no-cache"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Stop Program Confirmed</title>
<meta name="Description" content=""> 
<meta name="Keywords" content="">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/main.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="container"> 
	<main id="app">
		<img src="img/ShawScott_Logo_Gradient.png" alt="Shaw/Scott Logo" class="logo" />
		<div class="form-container">
			<div class="item-1">
				<div class="header">
					<h2 class="margtp1em">%Program Name% has been updated.</h2>
					<h2 class="margtp1em">%Program Update% has been made.</h2>
					<button onclick="location.href='sign-in.html';" class="btn-yes margtp2em">STOP ANOTHER PROGRAM</button>
					<button onclick="location.href='sign-in.html';" class="btn-yes margtp2em">SIGN OUT</button>
				</div>
			</div>
			<div class="item-1 margtp1em">
				&nbsp;
			</div>
		</div>
	</main>  
	<footer>
	<p>&copy;2019 All rights reserved.<br />Shaw/Scott</p>
	</footer>  
</div>
<script type="text/javascript">
var app = new Vue({
	el: '#app',
	data: {
		
	},
	methods:{
		
	}
})
</script>
</body>

</html>